@charset 'utf-8';
a{
	t-decoration:none;
	color:#2fa4e7;
}
li{
	font-size:12px;
	display:inherit;
}
.popWindow {
	background-color:white;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index: 1;
	position: absolute;

}
.maskLayer {
	width: 200px;
	height: 30px;
	line-height: 30px;
	left: 45%;
	top: 45%;
	color:#fff;
	z-index: 2;
	position: absolute;
	text-align:center;
}
.page-tabs a i:hover {
    color: #c00;
}
.page-tabs a:hover {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #293846;
}
.page-tabs-task{
	margin-bottom:0px;
	padding:1px;
	min-height:1px;
	/* background-color: #f5f5f5; */
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	display: block;
	font-size: 14px;
	font-weight: bold;
 			line-height: 22px;
 			position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px #ddd;
}

.vertical-tab {
    width: 100px;
    height: 100%;
    float: left;
    overflow: hidden;
}

.vertical-tab > li {
    text-align: center;
}

.vertical-tab > li.active > a, .vertical-tab > li.active > a:focus, .vertical-tab > li.active > a:hover {
    border: solid #ccc;
    border-width: 1px 0px 1px 1px;
    background-color: #ffffff;
    border-right: 1px solid #ffffff;
    z-index: 2;
}

.vertical-tab > li > a {
    border-radius: 4px 0px 0px 4px;
}

.vertical-tab-content {
    float: left;
    width: 90%;
    height: 100%;
    padding: 5px;
    margin-left: -1px;
    margin-bottom: 2px;
    /* border-radius: 4px 4px 4px 4px; */
    border: solid 1px #ccc;
    color: #666;
    border-right: medium none;
    border-bottom: medium none;
}

.send {
    position: relative;
    width: 90%;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    border: 1px solid #ccc;
}

.tag {
    width: 300px;
    min-height: 30px;
    border: 1px solid #ccc;
    position: relative;
    padding: 10px;
    background-color: #ccc;
    border-radius: 4px;
    margin-left: 30px;
    -moz-box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);
    -webkit-box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);
    box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);
}

.tag:before, .tag:after {
    position:absolute;
    content:"\00a0";
    width:0px;
    height:0px;
    border-width:8px 18px 8px 0;
    border-style:solid;
    border-color:transparent #CCC transparent transparent;
    top:5px;
    left:-18px;

}

.tag:after {
    bottom: -33px;
    border-color: #FFF transparent transparent;
}
.form-group{
	margin-bottom:5px;
}
/* .ch-container{
	background-color:#ecf0f5;	
} */
/* .box{
	background:#ffffff none repeat scroll 0 0 !important;
} */
.breadcrumb{
	/* background-color:#ecf0f5; */
	border-radius:0px;
}
.navbar{
	margin-bottom:0px !important;
}
.breadcrumb{
	position: fixed;z-index: 999;left: 0;top:0;width: 100%;margin-top:0;margin-left:20px;
}
.btn-bar{
	position:fixed;right:20px;z-index:999;
}
.btn-bar .btn{
	margin-right:5px;
	margin-top: 1.5px;
    padding: 3px 9px;
}
.file-upload{
	height:32px;
}

.form-control{
	padding:0px 15px;
	font-size:14px;
}

.span-show {
    border-radius: 4px;
    color: #707070;
    display: inline-block;
    line-height: 20px;
    min-height: 20px;
    padding: 4px 6px;
    vertical-align: middle;
}

.info {
	/* background: none repeat scroll 0 0 #D9EDF7; */
	border: 1px solid #BCE8F1; 
	color: #205081;
	font-weight: bold;
}

label.form-control{
	border-radius: 4px;
    color: #707070;
    display: inline-block;
    line-height: 20px;
    min-height: 20px;
    padding: 4px 6px;
    vertical-align: middle;
	background: none repeat scroll 0 0 #D9EDF7;
	border: 1px solid #BCE8F1; 
	color: #205081;
	font-weight: bold;
}